/* src/components/FootballHero.css */

.bg-animated-gradient {
  background: linear-gradient(270deg, #e5e5e5, #dcdcdc, #ff7f11);
  background-size: 300% 300%;
  animation: moveGradient 12s ease-in-out infinite;
  will-change: background-position;
  backface-visibility: hidden;
  transform: translateZ(0);
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
